@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
main {
  display: flex;
  flex-direction: column;
  align-items: center; }
  main h1 {
    align-self: flex-start;
    color: #399C8A;
    margin: 2vw 0vw 0vw 2vw; }
  main .profile-image__container {
    position: relative;
    width: 70vw; }
    main .profile-image__container .profile__img {
      border-radius: 50%;
      width: 5vw;
      height: 5vw;
      position: relative;
      top: 2vw;
      right: 2vw;
      z-index: 1; }
    main .profile-image__container .profile__background-img {
      width: 8vw;
      position: relative;
      top: 4vw;
      right: 8vw;
      z-index: -1; }
  main .blogs-to-read {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 70vw;
    z-index: 0; }
    main .blogs-to-read h2 {
      width: 90%;
      position: relative;
      bottom: 1vw;
      color: #399C8A; }
    main .blogs-to-read p {
      text-align: center;
      padding: 1vw 5vw 2vw 5vw;
      color: #585F63; }
    main .blogs-to-read .country__section {
      display: flex;
      flex-direction: row-reverse; }
      main .blogs-to-read .country__section img {
        margin-right: 0.5vw; }
      main .blogs-to-read .country__section h4 {
        color: #585F63; }
  main .blogs-to-read__imgbandera {
    width: 2vw; }

@media only screen and (max-width: 600px) {
  main .profile-image__container .profile__img {
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    position: relative;
    top: 3vw;
    right: 12vw;
    z-index: 1; }
  main .profile-image__container .profile__background-img {
    width: 28vw;
    position: relative;
    top: 8vw;
    right: 35vw;
    z-index: -1; }
  main .blogs-to-read .country__section img {
    width: 6vw; } }
