@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(104, 240, 207, 0.23);
  align-items: center;
  padding: 0vw 2vw; }
  nav .read-logo {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    nav .read-logo .read-logo__img {
      width: 4vw; }
    nav .read-logo .read-logo__img:hover {
      transform: scale(1.1);
      transition: 0.5s; }
    nav .read-logo .read-logo__a {
      font-size: 2vw;
      color: #06B696;
      text-decoration: none;
      margin: 0.5vw; }
  nav .read-logo__items {
    font-size: 1.5vw;
    color: #06B696;
    text-decoration: none;
    align-items: center;
    margin: 1vw; }

.read-button {
  width: 8vw;
  height: 6vh;
  border-radius: 38px;
  background-color: #009277;
  font-size: 1.5vw;
  margin: 1vw; }
  .read-button a {
    text-decoration: none;
    color: #FFFFFF; }

@media only screen and (max-width: 600px) {
  a {
    text-decoration: none; }
  ul {
    list-style: none; }
  header nav .read-logo .read-logo__a {
    font-size: 4vw;
    margin-left: 2vw;
    color: #06B696; }
  header nav .read-logo .read-logo__img {
    width: 8vw; }
  header nav .read-logo__items {
    color: #06B696;
    font-size: 3vw;
    font-weight: bold; }
  .read-button {
    min-width: 20vw;
    max-width: 20vw;
    min-height: 8vw;
    max-height: 8vw;
    font-size: 3vw; } }
