@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
main {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: "log-in-form sub-title";
  height: 92vh;
  background-image: url("../Img/log_in_background_desktop.png");
  background-repeat: no-repeat;
  background-size: cover; }
  main #log-in-form-container {
    grid-area: log-in-form;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    main #log-in-form-container h2 {
      color: #399C8A;
      font-weight: 400;
      font-size: 4vw;
      margin-bottom: 3vh; }
    main #log-in-form-container img {
      width: 3vw; }
    main #log-in-form-container div {
      display: flex;
      column-gap: 2vh;
      margin-bottom: 5vh; }
    main #log-in-form-container img:hover {
      transform: scale(1.1);
      transition: 0.5s; }
    main #log-in-form-container form {
      display: flex;
      flex-direction: column;
      width: 70%; }
      main #log-in-form-container form label {
        color: #06B696;
        font-weight: 400;
        font-size: 1.5vw;
        line-height: 29px;
        margin: 1.5% 0%; }
      main #log-in-form-container form input {
        border-bottom: 1px solid #68F0CF;
        margin: 1.5% 0%;
        padding: 2%;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px; }
      main #log-in-form-container form input:hover {
        transform: scale(1.1);
        transition: 0.5s; }
      main #log-in-form-container form .anchor {
        color: #FFFFFF; }
    main #log-in-form-container .read-button {
      align-self: center; }
    main #log-in-form-container a {
      text-align: center;
      margin-bottom: 3vh;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: #000000; }
    main #log-in-form-container p {
      text-align: center;
      margin-bottom: 3vh;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      margin-top: 5vh; }

#log-in-sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

#log-in-sub-title:hover {
  animation-duration: 2s;
  animation-name: animacion-texto;
  animation-iteration-count: infinite; }

@keyframes animacion-texto {
  from { }
  to {
    transform: scale(1.2); } }

#log-in-sub-title h2 {
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  color: #009277;
  margin-bottom: 2vh; }

#log-in-sub-title h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #399C8A; }

@media only screen and (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column; }
    main #log-in-form-container {
      order: 1; }
      main #log-in-form-container img {
        width: 8vw; }
      main #log-in-form-container form {
        width: 80%; }
        main #log-in-form-container form label {
          font-size: 4vw;
          margin-top: 0px; }
        main #log-in-form-container form input {
          font-size: 4vw; }
      main #log-in-form-container p, main #log-in-form-container a {
        font-size: 4vw; }
      main #log-in-form-container p {
        margin-bottom: 0px; }
    main #log-in-sub-title {
      order: 0;
      margin-top: 10vw; }
      main #log-in-sub-title h2, main #log-in-sub-title h3 {
        text-align: center; }
      main #log-in-sub-title h2 {
        font-size: 6vw;
        margin: 0px;
        line-height: 8vw; }
      main #log-in-sub-title h3 {
        font-size: 4vw; }
    main h2 {
      font-size: 6vw;
      margin-bottom: 3vw;
      margin-top: 10vw;
      line-height: 10vw; } }
