@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
@import "utilities/variables";

@mixin parrafo-anchor {
    text-align: center;
    margin-bottom: 3vh;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

main {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas:
        "log-in-form sub-title";
    height: 92vh;
    background-image: url("../Img/log_in_background_desktop.png");
    background-repeat: no-repeat;
    background-size: cover;

    #log-in-form-container {
        grid-area: log-in-form;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            color: $title-color;
            font-weight: 400;
            font-size: $title-font-size;
            margin-bottom: 3vh;
        }

        img {
            width: 3vw;
        }

        div {
            display: flex;
            column-gap: 2vh;
            margin-bottom: 5vh;
        }

        img:hover {
            transform: scale(1.1);
            transition: 0.5s;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 70%;

            label {
                color: #06B696;
                font-weight: 400;
                font-size: $items-font-size;
                line-height: 29px;
                margin: 1.5% 0%;
            }

            input {
                border-bottom: 1px solid #68F0CF;
                margin: 1.5% 0%;
                padding: 2%;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
            }

            input:hover {
                transform: scale(1.1);
                transition: 0.5s;
            }
            .anchor{
                color: $button-text-color;
            }
        }

        .read-button {
            align-self: center;
        }

        a {
            @include parrafo-anchor;
            color:#000000;
        }

        p {
            @include parrafo-anchor;
            margin-top: 5vh;
        }
    }
}

#log-in-sub-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#log-in-sub-title:hover {
    animation-duration: 2s;
    animation-name: animacion-texto;
    animation-iteration-count: infinite;
}

@keyframes animacion-texto {
    from {}

    to {
        transform: scale(1.2);
    }
}

#log-in-sub-title h2 {
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    color: #009277;
    margin-bottom: 2vh;
}

#log-in-sub-title h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #399C8A;
}

@media only screen and (max-width: 600px) {

    main {
        display: flex;
        flex-direction: column;

        #log-in-form-container {
            order: 1;
            img {
                width: 8vw;
            }
            form {
                width: 80%;
    
                label {
                    font-size: 4vw;
                    margin-top: 0px;
                }
                input {
                    font-size: 4vw;
                }
            }
            p, a{
                font-size: 4vw;
            }
            p{
                margin-bottom: 0px;
            }

        }

        #log-in-sub-title {
            order: 0;
            margin-top: 10vw;

            h2, h3{
                text-align: center;
            }
            h2 {
                font-size: 6vw;
                margin: 0px;
                line-height: 8vw;
            }
            h3 {
                font-size: 4vw;
            }
        }
        h2 {
            font-size: 6vw;
            margin-bottom: 3vw;
            margin-top: 10vw;
            line-height: 10vw;
        }
        
    }
}