$logo-font-size: 2vw;
$items-font-size: 1.5vw;
$background-nav: rgba(104, 240, 207, 0.23);
$button-text-color: #FFFFFF;
$button-background-color:#009277;
$title-color: #399C8A;
$title-font-size: 4vw;
$paragrahp-color: #585F63;
$paragrahp-size: 2vw;
$subtitle-color: #06B696;
$subtitle-size: 4vw;


$button_submit--width: 8vw;
$button_submit--height: 2vw;
$text_green--color: #06B696;
$base-horizontal-padding: 2vw;
$base-column-gap: 1vw;


